@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@namespace BlazorDesktopTest.Pages

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlazorDesktopTest</title>
    <base href="~/" />
    <link rel="stylesheet" href="_content/Simulation/css/bootstrap/bootstrap.min.css" />
    <link href="_content/Simulation/css/site.css" rel="stylesheet" />
    <link href="BlazorDesktopTest.styles.css" rel="stylesheet" />

    <!-- for water demo page -->
    <script src="_content/Simulation/water/OES_texture_float_linear-polyfill.js"></script>
    <script src="_content/Simulation/water/lightgl.js"></script>
    <script src="_content/Simulation/water/cubemap.js"></script>
    <script src="_content/Simulation/water/renderer.js"></script>
    <script src="_content/Simulation/water/water.js"></script>
    <script src="_content/Simulation/water/main.js"></script>

    
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/ammo.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/cannon.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/Oimo.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/libktx.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/earcut.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/babylon.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/materialsLibrary/babylonjs.materials.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/loaders/babylonjs.loaders.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/serializers/babylonjs.serializers.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/BabylonJS/Babylon.js@4.2.0/dist/gui/babylon.gui.min.js"></script>


</head>
<body>
    <!-- water demo -->
    <img id="tiles" style="display: none" src="_content/Simulation/water/tiles.jpg">
    <img id="xneg" style="display: none"  src="_content/Simulation/water/xneg.jpg">
    <img id="xpos" style="display: none"  src="_content/Simulation/water/xpos.jpg">
    <img id="ypos" style="display: none"  src="_content/Simulation/water/ypos.jpg">
    <img id="zneg" style="display: none"  src="_content/Simulation/water/zneg.jpg">
    <img id="zpos" style="display: none"  src="_content/Simulation/water/zpos.jpg">

    <component type="typeof(Simulation.App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
   @* <script src="_content/EventHorizon.Blazor.Interop/interop-bridge.js"></script>*@
   <script src="_content/EventHorizon.Blazor.Server.Interop/server-interop-bridge.js"></script>

</body>
</html>
